//META{"name":"Discord Canary Preview","description":"The Discord Canary Modal replacement","author":"HansAnonymous","version":"0.3"}*//{}
.layers, .layer { background: transparent !important; }

.modal-inner {
	width: 99.75%;
	position: absolute;
	top: 0px;
	height: 100%;
}

.settings-header {
	background-color: rgb(41,43,47) !important;
    padding-left: 23.7%;
    width: 34.92% !important;
}

.settings-right {
	border-left: none !important;
}
.settings-inner {
    background-color: rgb(54,57,63) !important;
    border-left-color: rgb(0,0,0) !important;
    padding-right: 43%;
}

.settings-actions {
	border-top: none !important;
	background-color: rgb(54,57,63) !important;
}

.tab-bar.SIDE .tab-bar-item.selected {
	background-color: rgb(114,137,218);
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 29px;
	margin-bottom: 1px;
	margin-top: 1px;
}
.tab-bar.SIDE .tab-bar-item.selected:before {
	border-left: none !important;
}

.tab-bar.SIDE .tab-bar-item:hover {
	background-color: rgb(55,58,61);
	border-radius: 3px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 28px;
}
.tab-bar.SIDE .tab-bar-item:hover:before {
	border-left: none !important;
	display: none;
}

.form.settings.user-settings-modal .settings-header .tab-bar.SIDE .tab-bar-item:nth-child(2) {
	font-size: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 177px;
}
.form.settings.user-settings-modal .settings-header .tab-bar.SIDE .tab-bar-item:nth-child(2)::after {
	content: "My Account" !important;
	font-size: 14px;
}

.user-settings-modal-accounts-list {
	margin-left: 62px !important;
}
.connection {
	border-radius: 5px !important;
	margin-left: 25px;
}
.scroller.user-settings-modal-connections-list {
	border-top: none !important;
}

.checkbox {
	color: rgb(255,255,255);
}

.scroller.settings-wrapper.settings-panel::-webkit-scrollbar,
.scroller.settings-wrapper.settings-panel::-webkit-scrollbar-track,
.scroller.settings-wrapper.settings-panel::-webkit-scroll-track-piece,
.scroller::-webkit-scrollbar,
.scroller::-webkit-scrollbar-track,
.scroller::-webkit-scroll-track-piece,
.tab-bar.SIDE::-webkit-scrollbar,
.tab-bar.SIDE::-webkit-scrollbar-track,
.tab-bar.SIDE::-webkit-scroll-track-piece {
	display: none;
}

.form.settings.user-settings-modal {
	width: 100%;
	min-height: 100%;
	border-radius: 0px !important;
}
.form.settings.guild-settings-modal {
	width: 100%;
	min-height: 100%;
	border-radius: 0px !important;
}

.upload-modal {
	position: absolute;
	left: 36.55%;
	top: 40%;
}

.markdown-modal {
	position: absolute;
	left: 36.55%;
	top: 40%;
}

input#settings-current-password,
input#settings-email,
input#settings-username,
input#settings-name {
	border-radius: 2px;
	background-color: rgb(42,45,50);
	color: rgb(255,255,255);
	border-bottom: none;
}

.Select-placeholder,
.Select-input {
	border-radius: 2px;
	background-color: rgb(42,45,50);
}
.has-value>.Select-control>.Select-placeholder {
	color: rgb(255,255,255);
}
.Select-menu {
	background-color: rgb(42,45,50);
}
.form .Select-option {
	color: rgb(255,255,255);
}
