//META{"name":"GlossyCyan","description":"Cyan Theme of the Glossy Series by HansAnonymous. For assistance, visit me here: https://discord.gg/x6h7usC","author":"HansAnonymous","version":"ersion: Auto"}*//{}
@import url(https://rawgit.com/HansAnonymous/BD-Themes-and-Plugins/master/Themes/Glossy-Cyan/theme.css);
/*
 ____ _                                ____                                                   
/ ___| | ___  ___ ___ _   _           / ___|   _  __ _ _ __                                   
| |  _| |/ _ \/ __/ __| | | |  _____  | |  | | | |/ _` | '_ \                                  
| |_| | | (_) \__ \__ \ |_| | |_____| | |__| |_| | (_| | | | |                                 
\____|_|\___/|___/___/\__, |          \____\__, |\__,_|_| |_|                                 
| |__  _   _  | | | | _|___/ __  ___   / \  |___/   ___  _ __  _   _ _ __ ___   ___  _   _ ___ 
| '_ \| | | | | |_| |/ _` | '_ \/ __| / _ \ | '_ \ / _ \| '_ \| | | | '_ ` _ \ / _ \| | | / __|
| |_) | |_| | |  _  | (_| | | | \__ \/ ___ \| | | | (_) | | | | |_| | | | | | | (_) | |_| \__ \
|_.__/ \__, | |_| |_|\__,_|_| |_|___/_/   \_\_| |_|\___/|_| |_|\__, |_| |_| |_|\___/ \__,_|___/
       |___/                                                   |___/                           
How to install:
1. Make sure BetterDiscord is installed.
2. Go to settings -> BetterDiscord -> Themes
3. Click on Open folder and move CyanGlossy.theme.css into the opened folder.
4. Reload Discord by right clicking on the tray icon in the taskbar and clicking on "Quit Discord" or by pressing ctrl + r in Discord.
5. Go back to Settings -> BetterDiscord -> Themes
6. Click check on Glossy Theme - Cyan.
PLEASE CHECK HERE TO SEE THE THEME IN ACTION:
Theme: https://github.com/HansAnonymous/BD-Themes-and-Plugins/tree/master/Themes
Optional:
1. Install the ThemeCustomizer Plugin by Zerthox.
2. Reload Discord.
3. Enable the plugin and edit variables to your liking*.
*Note: Changing variables and messing with values could break the theme. If so, remove the plugin, reinstall the theme.
Credits:
Thanks to all of these people!!!
- Zerebos#7790 for help with inconsistencies and general aid
- Zerthox#6648 (him and his themes) for classes (and some css), copied some things like bg...
- HoLLy#2750 for help with css
- maple#1234 for help with css
- den#3280 for his Cyan-firewatch theme to aid in the creation of this theme
- Jiiks#5000 for creating BetterDiscord
- https://github.com/jakeoid for animated emojis
- https://github.com/TriggerRimfire for avatar shadows
- https://github.com/SpoopySaitama for HLJS Colors
- PikaDude#5386 for Fade animation
- Faücheur#2420 (Probably uri) for chat alignment & CSS help
- BeardDesign#6223 for basis of member-list hover
- Arashiryuu#1912 for CSS help
- PhantomPrune#7312 with CSS help
*/
/**********************************************************************************************************************************/
/**Theming**/
/****************************************************************/
/*Background*/
.app, #pubslayerroot .layer .ui-standard-sidebar-view, body {
background: url(https://hansanonymous.github.io/files/bg.png) no-repeat center center fixed;
background-size: cover;
background-color: rgba(0,0,0,0) !important;
}
/*Custom Font*/
*:not(code) {
/*font-family: 'NFモトヤバーチ Std W1', 'Open Sans', Whitney, Helvetica, Arial, sans-serif !important;*/
}
/****************************************************************/
/**********************************************************************************************************************************/
